Repository ljharb/qs, pull requests merged in 2018-11, with the labels that each got.

#279 Allow `strictNullHandling` to work when using a custom filter
  lib/stringify.js
  test/stringify.js
Labels: bug, semver-patch: bugfix/patch/etc, stringify

#269 stringify: Avoid arr = arr.concat(...), push to the existing instance
  lib/stringify.js
Labels: semver-patch: bugfix/patch/etc, stringify

#242 Parse nested arrays correctly
  lib/utils.js
  test/parse.js
  test/utils.js
Labels: parse, semver-patch: bugfix/patch/etc
